/*
	Designed and developed by Saptarshi Chakraborty.
	+91 83349 74261
	saptarshi.office@gmail.com
	saptarshi.c@digitallyinked.in

	Fonts: PT Serif, PT Sans
	Colors: #635be7 / Light to Medium Blue
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:wght@700&display=swap');


/*     GENERAL     */

:root {
/*	--bs-primary-rgb: 99,91,231;*/
	--bs-primary: #635be7;
	--bs-font-sans-serif: "PT Sans","Roboto", "Open Sans", sans-serif;
/*	--bs-body-color: rgb(var(--bs-primary-rgb));*/
	--bs-body-color: var(--bs-primary);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "PT Serif", serif;
	font-weight: 700;
}

/*	HEADER */

.header-top {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 100;
}

.email-phone {
	font-size: 0.8rem;
}

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-menu ul li {
	display: inline-block;
}

.main-menu ul li a {
	background-color: var(--bs-white);
	text-decoration: none;
	padding: 0.5rem 1rem;
	margin-right: 0.7rem;
	border-radius: var(--bs-border-radius);
}

.main-menu ul li a.active {
	background-color: var(--bs-purple);
	color: var(--bs-white);
}

.main-menu ul li a:hover {
	background-color: var(--bs-secondary);
	color: var(--bs-white);
}

.main-menu ul li a,
.main-menu ul li a.active,
.main-menu ul li a:hover {
	transition: background-color 250ms ease, color 250ms ease;
}

.masthead {
	background-image: url("../images/bg.png");
	background-size: 10rem;
	background-color: var(--bs-primary);
    background-blend-mode: hard-light;
}

.photo img {
	max-width: 250px;
	border-radius: 50%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.intro > * {
	transform: skewX(-15deg);
}

.intro span {
	display: inline-block;
	margin-bottom: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/*	MAIN CONTENT	*/

.main {
	position: relative;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}

.content-heading {
	margin-left: 0.5rem;
	transform: skewX(-15deg);
}

.content-heading span {
	display: inline-block;
}

.skills h4 > span {
	display: inline-block;
}

.skills .icons img {
	display: inline-block;
	max-width: 7rem;
	margin: 1rem;
	filter: invert(33%) sepia(48%) saturate(3502%) hue-rotate(231deg) brightness(95%) contrast(90%);
}

.skills .other-skills li {
	display: inline-block;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
	background-color: rgb(var(--bs-primary-rgb));
}

.education a {
	word-break: break-all;
}

article img {
	border: 1px solid var(--bs-primary);
	margin-bottom: 1rem;
}

/*	FOOTER	*/

.links a {
	word-break: break-all;
}

.copyright {
	font-size: 0.8rem;
}