/*
	Designed and developed by Saptarshi Chakraborty.
	+91 83349 74261
	saptarshi.office@gmail.com
	saptarshi.c@digitallyinked.in

	Fonts: PT Serif, PT Sans
	Colors:
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:wght@700&display=swap');


/*     GENERAL     */

:root {
	--bs-primary-rgb: 111,66,193;
	--bs-font-sans-serif: "PT Sans","Roboto", "Open Sans", sans-serif;
	--bs-body-color: rgb(var(--bs-primary-rgb));
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "PT Serif", serif;
	font-weight: 700;
}

/*	HEADER */

.header-top {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 100;
}

.email {
	font-size: 0.8rem;
}

.masthead {
	background-image: url("../images/bg.png");
	background-color: var(--bs-primary);
    background-blend-mode: hard-light;
}

.photo img {
	max-width: 250px;
	border-radius: 50%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.intro > * {
	margin-bottom: 2rem;
	transform: skewX(-15deg);
}

.intro span {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/*	MAIN CONTENT	*/

.main {
	position: relative;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}

.content-heading {
	margin-left: 0.5rem;
	transform: skewX(-15deg);
}

.skills .icons img {
	display: inline-block;
	max-width: 7rem;
	margin: 1rem;
	filter: invert(35%) sepia(19%) saturate(3814%) hue-rotate(233deg) brightness(86%) contrast(98%);
}

.skills .other-skills li {
	display: inline-block;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
	background-color: rgb(var(--bs-primary-rgb));
}

.education a {
	word-break: break-all;
}

/*	FOOTER	*/

.links a {
	word-break: break-all;
}

.copyright {
	font-size: 0.8rem;
}